/* IMPORT TENA FONT FAMILY */
@import url('https://fonts.cdnfonts.com/css/tena');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: var(--BgDarkGradient);
}
