/* IMPORT Tena Font Family */
@import url('https://fonts.cdnfonts.com/css/tena');

/* IMPORT Fh Space Font Family */
@import url('https://fonts.cdnfonts.com/css/fh-space');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;

    background: var(--BgDarkGradient);
}
